[Desktop Entry]
Type=Application
Name=QtCPUCoreControl
Exec=/opt/QtCPUCoreControl/QtCPUCoreControl
Icon=cpu
Comment=Control cpu cores without terminal
X-GNOME-Autostart-enabled=true